<div class="container">
  <div class="row">
      <div class="col-md-8 mx-auto">
          <h1 class="text-center">ข้อมูลสมาชิก</h1>
          <div class="card">
              <div class="card-body">

                      <div class="form-group mt-2">
                          <label for="memId">รหัสสมาชิก : <font color="blue">{{idMemOld}}</font> </label>
                      </div>
                      <div class="form-group mt-2">
                          <label for="email">e-mail : <font color="blue">{{userEmail}}</font></label>
                      </div>

                      <div class="form-group mt-2">
                          <label for="fname">ชื่อ - สกุล : <font color="blue">{{fnameOld}}</font></label>
                      </div>

                      <div class="form-group text-center">
                          <a href="/" class="btn btn-secondary mt-2 me-2">กลับหน้าหลัก</a>
                          <a href="/update-member/{{userEmail}}" class="btn btn-primary mt-2 me-2">แก้ไขข้อมูล</a>
                      </div>
                      <li class="nav-item" >
                        <a  class="btn btn-danger" (click)="logout()">Logout</a>
                      </li>
                      <br>

              </div>
          </div>
      </div>
  </div>
</div>


