<div class="container">
  <div class="row">
    <div class="col-8-md mx-auto">
      <h2 class="text-center"> รายชื่อสมาชิกในระบบ</h2>
      <div class="card">
        <div class="card-body">
          <table class="table table-sm table-bordered table-striped table-hover">
            <thead class="thead-dark">
              <tr >
                <th scope="col" class="text-center">รหัสประจำตัว</th>
                <th scope="col" class="text-center">e-mail</th>
                <th scope="col" class="text-center">ชื่อ - สกุล</th>
                <th scope="col" class="text-center">วันเวลาที่ลงทะเบียน</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let data of dataMemberList; let i=index">
                <!-- <tr> -->
                <th class="text-center">{{dataMemberList[i].idMem}}</th>
                <td class="text-center">{{dataMemberList[i].email}}</td>
                <td>{{dataMemberList[i].fname}}</td>
                <td class="text-center">{{dataMemberList[i].regisdate}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
        </div>
        <div class="form-group text-center">
          <a href="/" class="btn btn-secondary mt-2 me-2">กลับหน้าหลัก</a>
        </div>
      </div>
    </div>
  </div>
</div>





