<div class="container">
  <div class="row">
    <div class="col-8-md mx-auto">
      <h2 class="text-center"> รายชื่อสมาชิกในระบบ</h2>
      <div class="card">
        <div class="card-body">
          <table class="table table-sm table-bordered table-striped table-hover">
            <thead class="thead-dark">
              <tr >
                <th scope="col" class="text-center">รหัสประจำตัว</th>
                <th scope="col" class="text-center">e-mail</th>
                <th scope="col" class="text-center">ชื่อ - สกุล</th>
                <th scope="col" class="text-center">วันเวลาที่ลงทะเบียน</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let data of dataMemberList; let i=index">
                <!-- <tr> -->
                <th class="text-center">{{dataMemberList[i].idMem}}</th>
                <td class="text-center">{{dataMemberList[i].email}}</td>
                <td>{{dataMemberList[i].fname}}</td>
                <td class="text-center">{{dataMemberList[i].regisdate}}</td>
              </tr>
              <!-- <tr>
                <th class="text-center">{{dataMemberList}}</th>
                <td class="text-center"></td>
                <td></td>
                <td class="text-center"></td>
              </tr> -->
              <!-- <tr>
                <th class="text-center">2</th>
                <td class="text-center">email</td>
                <td>fname</td>
                <td class="text-center">timestamp</td>
              </tr> -->
            </tbody>
          </table>
        </div>
        <div>
          <!-- *** Pagination  **** -->
          <!-- <nav aria-label="Page navigation">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" [routerLink]="['/member-list']" [queryParams]="{page:1}">หน้าแรก</a>
              </li>
              <li class="page-item" [class.disabled]="activePage==1">
                <a class="page-link" [routerLink]="['/member-list']" [queryParams]="{page: prevPage}">ย้อนกลับ</a>
              </li>
              <li class="page-item" *ngFor="let i of iPage" [class.active]="activePage==i">
                <a class="page-link" [routerLink]="['/member-list']" [queryParams]="{page:i}">{{i}}</a>
              </li>
              <li class="page-item" [class.disabled]="activePage==totalPage">
                <a class="page-link" [routerLink]="['/member-list']" [queryParams]="{page: nextPage}">หน้าถัดไป</a>
              </li>
              <li class="page-item">
                <input #pageInput type="number"class="form-control" name="pageInput" id="pageInput" min="1" max="{{ totalPage }}" style="width:80px;" (input)="changePage(pageInput.value)" value="{{ activePage }}" >
              </li>
              <li class="page-item">
                <a class="page-link" [routerLink]="['/member-list']"  [queryParams]="{page: totalPage}"> Last</a>
            </li>
            </ul>
          </nav> -->
          <!-- ******** -->
        </div>
        <div class="form-group text-center">
          <a href="/" class="btn btn-secondary mt-2 me-2">กลับหน้าหลัก</a>
        </div>
      </div>
    </div>
  </div>
</div>





